.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.leftSide:not(focused) {
  animation: focused-left-rev 500ms ease-in-out;
  animation-fill-mode: forwards;
}

.rightSide:not(focused) {
  animation: focused-right-rev 500ms ease-in-out;
  animation-fill-mode: forwards;
}

.leftSide.focused {
  animation: focused-left 500ms ease-in-out;
  animation-fill-mode: forwards;
}

.rightSide.focused {
  animation: focused-right 500ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes focused-left {
  from { width: 50vw; }
  to { width: 10vw; }
}

@keyframes focused-right {
  from { width: 50vw; }
  to { width: 90vw; }
}

@keyframes focused-left-rev {
  from { width: 10vw; }
  to { width: 50vw; }
}

@keyframes focused-right-rev {
  from { width: 90vw; }
  to { width: 50vw; }
}