.Content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  /* overflow-y: scroll; */

  /* text */
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  line-height: 1.8;
  font-size: 16px;
  text-align: left;
}

.Content h5 {
  font-size: 20px;
  font-weight: 600;
  /* TODO: ask if italic is better than text shadow */
  font-style: italic;
  text-shadow: -3px 3px rgba(0,0,0,0.3);
}

.Content .content-body {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#AboutContent .link {
  cursor: pointer;
  color: white;
  white-space: nowrap;
  text-decoration: underline;
}