#Logo {
position: absolute;
top: 40px;
left: 40px;
z-index: 1;
color: white;
font-family: Montserrat, sans-serif;
font-weight: 200;
font-size: 15px;
letter-spacing: 5.5px;
}

/* .Logo:not(vertical).focusJustChanged {
    transform-origin: top left;
    animation: spin-rev 500ms ease-in-out;
    animation-fill-mode: forwards;
}

.Logo.vertical.focusJustChanged {
    transform-origin: top left;
    animation: spin 800ms cubic-bezier(0.67, -0.42, 0.58, 1);
    animation-fill-mode: forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes spin-rev {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
} */