#App {
  height: 100vh;
  width: 100vw;
  background-size: auto 100%;
  display: flex;
  flex-direction: row;
}

.gradient {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

/* .gradient-image {
  z-index: 10
} */

.whole-panel {
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.half-panel {
  width: 50vw;
  display: flex;
  justify-content: center;
}
