#App {
  height: 100vh;
  width: 100vw;
  background-size: auto 100%;
  display: flex;
  flex-direction: row;
}

.gradient-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.left-panel {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.right-panel {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}